spring:
    datasource:
        name: yunsoso
        url: jdbc:mysql://103.11.65.253:3306/yunsoso?useUnicode=true&characterEncoding=UTF-8
        username: root
        password: root
        # 使用druid数据源
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.jdbc.Driver
        filters: stat
        maxActive: 20
        initialSize: 1
        maxWait: 60000
        minIdle: 1
        timeBetweenEvictionRunsMillis: 60000
        minEvictableIdleTimeMillis: 300000
        validationQuery: select 'x'
        testWhileIdle: true
        testOnBorrow: false
        testOnReturn: false
        poolPreparedStatements: true
        maxOpenPreparedStatements: 20

jedis :
 pool :
   host : 127.0.0.1
   port : 6379
   config :
     maxTotal: 100
     maxIdle: 10
     maxWaitMillis : 100000

